body {
    background-color: peachpuff;
    color: white;
    font-size: 21px; 
}

h1 {
    font-size: 70px;
    color: orange; 
}

p {
    color: mediumslateblue;
}

/* the CSS box model */

.box {
    background: yellow;
    width: 300px;
}

